---
# Example Ansible playbook for using the kernsweep module
#
# Usage:
#   # Dry run to see what would be removed
#   ansible-playbook -i inventory.ini cleanup-kernels.yml --check
#
#   # Actually remove obsolete kernels
#   ansible-playbook -i inventory.ini cleanup-kernels.yml
#
#   # Verbose output
#   ansible-playbook -i inventory.ini cleanup-kernels.yml -v

- name: Clean up obsolete Linux kernels
  hosts: all
  become: yes
  tasks:
    - name: Check for obsolete kernels (report only)
      kernsweep:  # noqa syntax-check[unknown-module]
        state: present
      register: kernel_status
      
    - name: Display kernel information
      debug:
        msg: |
          Running kernel: {{ kernel_status.running_kernel }}
          Latest kernel: {{ kernel_status.latest_kernel }}
          Obsolete packages: {{ kernel_status.obsolete_count }}
          Reboot required: {{ kernel_status.reboot_required }}
      
    - name: Remove obsolete kernels
      kernsweep:
        state: absent
      register: cleanup_result
      when: kernel_status.obsolete_count > 0
      
    - name: Display cleanup results
      debug:
        msg: "{{ cleanup_result.msg }}"
      when: cleanup_result is defined
      
    - name: Display removed packages
      debug:
        msg: "Removed: {{ cleanup_result.removed_packages | join(', ') }}"
      when: cleanup_result is defined and cleanup_result.changed
      
    - name: Notify about reboot requirement
      debug:
        msg: "WARNING: A reboot is required to use the latest kernel ({{ kernel_status.latest_kernel }})"
      when: kernel_status.reboot_required
